/* Prevent floating or scroll bar issue */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Fix extra space on right */
}

/* Layout */
.wrapper { 
    display: flex;
    height: 100vh;
    width: 100%; 
}

/* Sidebar */
.sidebar { 
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    color: #333;
    width: 240px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column; 
    border-right: 1px solid #e0e0e0;
}

.sidear-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.collapsed {
    width: 80px;
}

/* Header Section */
.sidebar-header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.logo-full {
    width: 150px;
    transition: opacity 0.3s ease;
}

.logo-icon {
    width: 45px;
    display: none;
    transition: opacity 0.3s ease;
}

/* Collapsed view */
.sidebar.collapsed .logo-full {
    display: none;
}

.sidebar.collapsed .logo-icon {
    display: inline-block;
}

/* Navigation links */
.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px; /* Push below image */
}

.nav-item {
    margin: 5px 0;
}


.nav-link {
    background-color: #f2f2f2;
    color: gray !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: 4px 12px;
    font-weight: 500;
}

.nav-link i {
    font-size: 18px;
    width: 25px;
    text-align: center;
}

.link-text {
    margin-left: 10px;
    white-space: nowrap;
}

/* Hover state */
.nav-link:hover {
    background-color: #ff6600;
    color: white !important;
}

/* Active state (persistent highlight) */
.nav-link.active {
    background-color: #ff6600 !important;
    color: #ffffff !important;
}

/* Collapsed view (hide text) */
.sidebar.collapsed .link-text {
    display: none;
}

/* Footer section */
.sidebar-footer { 
    padding: 12px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 414px;
}
.text-warning:hover {
    color: white !important;
}
.footertag{
    padding-bottom:12px;
}
/* Collapse button */
#toggleSidebar {
    border-radius: 50%;
}
    #toggleSidebar:hover {
        color: white;
        background: #ff6600;
    } 
/* Main Content */
.main-content { 
    position: relative;
    top: 0;
    flex: 1;
    background: #f8f9fa;
    transition: margin-left 0.3s ease;
    padding: 20px;
}

/* Responsive margin change */
.sidebar.collapsed ~ .main-content {
        margin-left: 80px;
}

.sidebar:not(.collapsed) ~ .main-content {
        margin-left: 240px;
}
