@model CentTask1.ViewModels.HomeViewModel.DashboardViewModel

<div class="text-center">
    <div id="HomeContainer">
        @await Html.PartialAsync("_Index", Model)
    </div>

    <div id="taskContainer" style="display:none;">
        <!-- GetAllTasks view yahan load hoga -->
    </div>

    <div id="ProjectContainer" style="display:none;">
        <!-- Projects view yahan load hoga -->
    </div>
    <div id="TaskItemsContainer" style="display:none;">
        <!-- Projects view yahan load hoga -->
    </div>
</div>
    