 
<div class="text-center" style="width:-1%">
    <h1 class="display-4" 
    style="
        display: inline;
        border-bottom: 7px solid #f65e0c;
        border-radius: 4px;
"
    >Centangle Interactive</h1>


    <div id="HomeContainer">
        <!-- Home view yahan load hoga -->
    </div>

    <div id="taskContainer">
        <!-- GetAllTasks view yahan load hoga -->
    </div>
   
    <div id="ProjectContainer">
        <!-- Home view yahan load hoga -->
    </div>

</div>
 
