@* @{
    ViewData["Title"] = "Privacy Policy";
} *@
@* <h1>@ViewData["Title"]</h1> *@

<div class="text-center">
    <h1 class="display-4">Centangle Intractive</h1>
    <hr>
    <div id="taskContainer">
        <!-- GetAllTasks view yahan load hoga -->
    </div>
    <div id="HomeContainer">
        <!-- Home view yahan load hoga -->
    </div>

</div>