@model CentTask1.Models.ProjectTask


<form asp-action="Create" asp-controller="Tasks" method="post" id="createOrEditProjectTaskForm">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.id != 0)
            {
                <input type="hidden" asp-for="id" />
            }
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="name" class="control-label text-start float-start"></label>
                    <span class="text-danger float-start"> *</span>
                    <input asp-for="name" name="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="description" class="control-label text-start float-start"></label>
                    <input asp-for="description" name="description" class="form-control" />
                    @* <span asp-validation-for="description" class="text-danger"></span> *@
                </div>

                <div class="col-md-6">
                    <label asp-for="StartDate" class="control-label float-start text-start"></label>
                    <span class="text-danger float-start"> *</span>
                      <input type="date" asp-for="StartDate" name="StartDate"  class=" form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="DueDate" class="control-label float-start text-start"></label>
                    <span class="text-danger float-start"> *</span>
                    <input type="date" asp-for="DueDate" name="DueDate"  class="form-control" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>

                </div>

                <div class="col-md-6">
                    <label asp-for="priority" class="control-label text-start float-start"></label>
                    <input asp-for="priority" name="priority" class="form-control" />
                    @* <span asp-validation-for="priority" class="text-danger"></span> *@
                </div>
                @* <div class="col-md-6">
                    <label asp-for="AssignedTo" class="control-label text-start float-start"></label>
                    <input asp-for="AssignedTo" name="AssignedTo" class="form-control" />
                    <span asp-validation-for="AssignedTo" class="text-danger"></span>
                </div> *@

                <div class="col-md-6">
                    <label asp-for="EquipmentType" class="control-label text-start float-start"></label>
                    <input asp-for="EquipmentType" name="EquipmentType" class="form-control" />
                    @* <span asp-validation-for="EquipmentType" class="text-danger"></span> *@
                </div>
                <div class="col-md-6">
                    <label asp-for="TWR" class="control-label text-start float-start "></label>
                    <input asp-for="TWR" name="TWR" class="form-control" />
                    <span asp-validation-for="TWR" class="text-danger"></span>
                </div>
        <div class="col-md-6">
            <label asp-for="Project" class="control-label float-start"></label>
            <select id="projectSelect" asp-for="ProjectId" class="form-control select2" >
                <option value="id"> </option>
            </select>
            <span asp-validation-for="id" class="text-danger"></span>
        </div>
        @* asp-items="ViewBag.ProjectList *@
            </div>
            <div class="form-group mt-3 float-end">
                <input type="submit" value="Save" name="submit" id="submitProjectTaskId" data-url="/Tasks/Create" class="btn btn-primary mr-2" />
                <a class="btn btn-danger" data-bs-dismiss="modal">Cancel</a>

            </div>
        </form>

@*     </div>
</div> *@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}